* text=auto !eol
/ACKNOWLEDGEMENTS -text
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-chm.chm.lexc -text
/apertium-chm.chm.rlx -text
/apertium-chm.chm.twol -text
/apertium-chm.pc.in -text
/apertium-chm.post-chm.dix -text
/autogen.sh -text
/chm.prob -text
/configure.ac -text
dev/dict.xml -text
dev/generator/AndEnclitic.java -text
dev/generator/Attribute.java -text
dev/generator/CompDegEnclitic.java -text
dev/generator/Enclitic.java -text
dev/generator/Generate.java -text
dev/generator/Nominal.java -text
dev/generator/Number.java -text
dev/generator/PosessiveSuffix.java -text
dev/generator/README -text
dev/generator/ReduplicationEnclitic.java -text
dev/generator/SEnclitic.java -text
dev/generator/StrengtheningEnclitic.java -text
dev/generator/Stress.java -text
dev/generator/ThirdPersonSingEnclitic.java -text
dev/generator/WordCase.java -text
dev/generator/clean.sh -text
dev/generator/compile.sh -text
dev/generator/morph.java -text
dev/num2words.txt -text
dev/reallex.sh -text
dev/xml2spel.py -text
/modes.xml -text
texts/story.chm.txt -text svneol=unset#application/octet-stream
