* text=auto !eol
/ACKNOWLEDGEMENTS -text
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-chm.chm.lexc -text
/apertium-chm.chm.rlx -text
/apertium-chm.chm.twol -text
/apertium-chm.pc.in -text
/apertium-chm.post-chm.dix -text
/autogen.sh -text
/chm.prob -text
/configure.ac -text
dev/dict.xml -text
dev/examples.txt -text
dev/num2words.txt -text
dev/reallex.sh -text
dev/xml2spel.py -text
/modes.xml -text
texts/story.chm.txt -text svneol=unset#application/octet-stream
